<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Choose Rates</a></li>
            <li class="main-header__item"><a class="<%= path === '/total' ? 'active' : '' %>" href="/admin/add-product">Rate Total</a></li>
        </ul>
    </nav>
</header>