<div class="row">
    <div class="col-md-12">
        <h3><span class="glyphicon glyphicon-link"></span> Your purchase</h3>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Service</th>
                <th scope="col">Weight</th>
                <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td><%= name %></td>
                <td><%= weight %></td>
                <td><%= price %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>